{% extends 'base.html' %}

{% block head_title %}
Your Address
{% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-sm-6">
        <form action="" method="POST">
            {% if current_addresses %}
                <h3>Saved Addresses</h3>
                {% for address in current_addresses %}
                <input value="{{ address.id }}" name="shipping_address" type="radio"> {{ address.get_address }} <br>
                {% endfor %}
            {% endif %}
            {% if billing_addresses %}
            <h3>Billing Addresses</h3>
                {% for address in billing_addresses %}
                <input value="{{ address.id }}" name="billing_address" type="radio"> {{ address.get_address }} <br>
                {% endfor %}
            {% endif %}
            <h3>Credit Card Info:</h3>
        </form>
    </div>
    <div class="col-sm-6 float-right">
        {% if address_form %}
        <h3>Add New Address:</h3>
            <form action="{% url 'ajax_add_user_address' %}?next=checkout" method="POST">{% csrf_token %}
                {{ address_form.as_p }}
                <input type="submit" value="Confirm" class="btn btn-outline-success">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}